.app-footer {
    background: transparent;
    color: var(--color-gray-500);
}

.app-footer .container {
    border-top: 1px solid var(--color-shadow-xs);
    padding-top: 1.5rem;
}

.fs-7 {
    font-size: 0.8rem;
}
